@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #b5e0f0;
}

h1 {
    line-height: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 128;
    text-align: center;
    color: #d11d27;
    text-shadow: 1px 1px #000;
}

h2 {
    line-height: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64;
    text-align: center;
}

.gift {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.money {
    font-style: normal;
    color: seagreen;
}

a:link, a:active, a:visited {
    color: #e44d26;
}